<!-- Page Content -->
<div class="container">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">

            <h1 class="page-header">



                <small>Page 2 </small>
            </h1>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="#">

            <img src="~/fonts/afişler/411461.jpg-cx__700_x-b_1_D6D6D6-f_jpg-q_x-xxyxx.jpg" />
        </a>
        <h3>
            <a href="#">Düğün Dernek 2</a>
        </h3>
        <p>
            Düğün Dernek 2: Sünnet, 2015 yapımı yönetmenliğini ve senaristliğini Selçuk Aydemir'in üstlendiği Türk yapımı Komedi filmi. Başrollerinde Ahmet Kural, Murat Cemcir, Rasim Öztekin, Şinasi Yurtsever yer almaktadır. Vikipedi
            İlk gösterim tarihi: 3 Aralık 2015
            Yönetmen: Selçuk Aydemir
            Tür: Komedi Filmi
            Önceki film: Düğün Dernek
        </p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">


            <img src="~/fonts/afişler/indir (2).jpg" />
        </a>
        <h3>
            <a href="#">Sevimli Tehlikeli</a>
        </h3>
        <p>Zarok çok uzun yıllar önce Edirne’de henüz beşikteki bir kız çocuğunu kaçırıp, bir ailenin ömür boyu büyük acılar yaşanmasına neden olur. Aradan uzun yıllar geçer ve Zarok eline geçen bir fırsatı değerlendirir. Vicdan azabını hafifletmek için bu sefer, daha önce kaçırdığı kızı tekrar kaçırarak gerçek ailesine götürecektir! Fakat bu süreçte her iki karakteri de, aşk dolu bir macera beklemektedir...</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">


            <img src="~/fonts/afişler/indir (1).jpg" />
        </a>
        <h3>
            <a href="#">Bir Varmış Bir Yokmuş</a>
        </h3>
        <p>Anaokulu öğretmeni olan Nehir, bir gün tesadüfen bir şarkı dinler ve dinlediği şarkı genç kadını derinden etkiler. Nehir şarkıyı o kadar çok beğenir ki notaların ardından, şarkıyı yapan müzisyenin peşine düşmeye karar verir... Yolun sonundaysa şarkının sahibi olan Ozan'ı bulur. Ama Ozan hayatında yaşadığı derin bir travma yüzünden ve adeta çıkmaz bir sokak gibidir... Bir tarafın kararlılığı ile diğer tarafın bocalamaları arasında sıkışıp kalan bu ilginç aşk hikayesi, acaba mutlu sonlu bir masala bağlanbilecek midir...</p>
    </div>
</div>
<!-- /.row -->
<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="#">

            <img src="~/fonts/afişler/582884.jpg-cx_160_213_x-b_1_D6D6D6-f_jpg-q_x-xxyxx.jpg" />
        </a>
        <h3>
            <a href="#">Ali Baba ve 7 Cüceler</a>
        </h3>
        <p>
            Ali Baba ve 7 Cüceler, Cem Yılmaz'ın hem yazıp hem yönettiği dördüncü filmidir. Aynı zamanda filmin yapımcılığını ve baş rolünü de Cem Yılmaz üstlenmektedir. Filmin başrol oyuncuları ise Cem Yılmaz, Zafer Algöz ve Çetin Altay'dır. Vikipedi
            İlk gösterim tarihi: 13 Kasım 2015
            Yönetmen: Cem Yılmaz
            Süre: 1 saat 54 dakika
            Türler: Komedi Filmi, Aksiyon Filmi
        </p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">

            <img src="~/fonts/afişler/images (1).jpg" />
        </a>
        <h3>
            <a href="#">Ajan</a>
        </h3>
        <p>
            Ajan, Paul Feig tarafından yönetilen 2015 yapımı aksiyon komedi türündeki ABD filmi. Başrollerinde Melissa McCarthy, Jason Statham, Rose Byrne, Miranda Hart, Bobby Cannavale, Allison Janney ve Jude Law yer almaktadır. Vikipedi
            Gösterime giriş tarihi: 11 Eylül 2015 (Türkiye)
            Yönetmen: Paul Feig
            Film müziğinin bestecisi: Theodore Shapiro
            Sinematografi: Robert Yeoman
            Oyuncu direktörü: Zsolt Csutak
        </p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">

            <img src="~/fonts/afişler/images (2).jpg" />
        </a>
        <h3>
            <a href="#">Aşk Sana Benzer</a>
        </h3>
        <p>Aşk Sana Benzer, başrollerini Fahriye Evcen ile Burak Özçivit'in paylaştığı 2014 yapımı Türk filmidir. 23 Ocak 2015'te vizyona giren yapım bir aşk hikayesidir. Ege'de bir sahil kasabasında geçmektedir. </p>
    </div>
</div>
<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="#">

            <img src="~/fonts/afişler/images (3).jpg" />
        </a>
        <h3>
            <a href="#">Kocan Kadar Konuş</a>
        </h3>
        <p>Efsun üzerinden, bu coğrafyada yaşayan kadınların, daha küçük yaşlarda koca bulmaya programlandıklarını ileri süren yapım 30 yaşına gelmiş olan Efsun'un hayatının kalan kısmını birlikte geçirmeyi hedeflediği gerçek aşkı, sevgiyi, dürüstlüğü arayışını anlatırken, akranı olan kadınlar gibi erkekleri yönlendiremeyen genç kadının imdadına, "kadınlığın kitabını yazmış" İzmirli ailesi yetişir. Kendisini güvenilir Türk kadınlarına emanet eden Efsun erkeklerin tüm zaaflarını öğrendikten sonra ise karşısına yıllardır unutamadığı lise aşkı Sinan çıkar! </p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">

            <img src="~/fonts/afişler/images (4).jpg" />
        </a>
        <h3>
            <a href="#">Niyazi Gül Dörtnala</a>
        </h3>
        <p>Niyazi Gül Dörtnala, Ata Demirer'in Korsan TV'de canlandırdığı veteriner Niyazi Gül tiplemesinin ana karakter olduğu 2015 Türkiye yapımı sinema filmi.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">

            <img src="~/fonts/afişler/images.jpg" />
        </a>
        <h3>
            <a href="#">Mucize</a>
        </h3>
        <p>
            Mucize, yönetmenliğini ve senaristliğini Mahsun Kırmızıgül'ün yaptığı 2014 yapımı sinema filmidir. Film 1 Ocak 2015 tarihinde beyazperdede gösterime girmiştir. Çekimleri İzmir Foça, Kars ve Kağızman'a bağlı bir köyde gerçekleştirimiştir.
            Gösterime giriş tarihi: 1 Ocak 2015 (Türkiye)
            Yönetmen: Mahsun Kırmızıgül
            Sinematografi: Soykut Turan
            Senaryo: Mahsun Kırmızıgül
            Film müziğinin bestecisi: Mahsun Kırmızıgül, Yıldıray Gürgen, Tevfik Akbaşlı
        </p>
    </div>
</div>
<!-- /.row -->
<hr>

<!-- /.row -->
<hr>
