
@{
    ViewBag.Title = "yabancıfilmler";
}


@{
    ViewBag.Title = "page2";
}


@{
    ViewBag.Title = "yabancıfilmler";
}
<!-- /.container -->
    </nav>
<!-- Page Content -->
<div class="container">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
              
                <small> YABANCI FİLMLER</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="#">

                <img src="~/fonts/afişler/yabancı filmler/images (1).jpg" />
            </a>
            <h3>
                <a href="#">THOR</a>
            </h3>
            <p>Thor, Marvel Comics tarafından yayımlanan aynı adlı çizgi roman karakterine dayanan 2011 ADB süper kahraman filmi ve Marvel Cinematic Universe tarafından yayınlanan dördüncü filmidir. Vikipedi
Gösterime giriş tarihi: 29 Nisan 2011 (Türkiye)
Yönetmen: Kenneth Branagh
Devam filmi: Thor: Karanlık Dünya
Film müziğinin bestecisi: Patrick Doyle
Sinematografi: Haris Zambarloukos</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">

                <img src="~/fonts/afişler/yabancı filmler/images (2).jpg" />
            </a>
            <h3>
                <a href="#">OBLİVON</a>
            </h3>
            <p>Oblivion, Joseph Kosinski'nin aynı adı taşıyan Radikal Comics için yaptığı ancak yayınlanmamış kıyamet sonrası bilim kurgu türünde grafik roman'ın sinema için uyarlanmış 2013 yapımı filmidir. Vikipedi
Gösterime giriş tarihi: 12 Nisan 2013 (Türkiye)
Yönetmen: Joseph Kosinski
Film müziği: Oblivion
Sinematografi: Claudio Miranda
Film müziğinin bestecisi: M83, Anthony Gonzalez, Joseph Trapanese</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">

                <img src="~/fonts/afişler/yabancı filmler/images.jpg" />
            </a>
            <h3>
                <a href="#">300 SPARTALI</a>
            </h3>
            <p>300 Spartalı, özgün adı 300 olan, Frank Miller'ın Termopylae Muharebesi hakkındaki grafik romanından uyarlanan ve 2007 yılında gösterime giren film. Film, Frank Miller'in danışmanlığında Zack Snyder tarafından yönetilmiştir. Vikipedi
Yayın tarihi: 9 Mart 2007 (ABD)
Yönetmen: Zack Snyder
Devam filmi: 300: Bir İmparatorluğun Yükselişi
Film müziğinin bestecisi: Tyler Bates
Sinematografi: Larry Fong</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="#">

                <img src="~/fonts/afişler/yabancı filmler/indir (1).jpg" />
            </a>
            <h3>
                <a href="#">SALVADOR</a>
            </h3>
            <p>Salvador is a 1986 war drama film written by Oliver Stone and Richard Boyle, and directed by Stone. It stars James Woods, James Belushi, Michael Murphy, and Elpidia Carrillo, with John Savage, and Cynthia Gibb in supporting roles.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">

                <img src="~/fonts/afişler/yabancı filmler/indir (2).jpg" />
            </a>
            <h3>
                <a href="#">RUHLAR BÖLGESİ</a>
            </h3>
            <p>İlk gösterim tarihi: 13 Eylül 2013
Yönetmen: James Wan
Film müziğinin bestecisi: Joseph Bishara
Yapım şirketleri: Blumhouse Productions, Entertainment One, IM Global
Film müzikleri: Piano Sonata No. 2, Waiting For You</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">

                <img src="~/fonts/afişler/yabancı filmler/indir (3).jpg" />
            </a>
            <h3>
                <a href="#">LOVE,ROİSE</a>
            </h3>
            <p>Gösterime giriş tarihi: 31 Ekim 2014 (Türkiye)
Yönetmen: Christian Ditter
Film müziğinin bestecisi: Ralf Wengenmayr
Oyuncu direktörü: Gail Stevens
Senaryo: Juliette Towhidi</p>
        </div>
    </div>
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="#">

                <img src="~/fonts/afişler/yabancı filmler/indir.jpg" />
            </a>
            <h3>
                <a href="#">BEN EFSANEYİM</a>
            </h3>
            <p>Ben Efsaneyim, Francis Lawrence'ın yönettiği ve başrolünde Will Smith'in yer aldığı 2007 ABD yapımı kıyamet sonrası bilim kurgu filmidir. Vikipedi
Gösterime giriş tarihi: 25 Ocak 2008 (Türkiye)
Yönetmen: Francis Lawrence
Film müziği: Stir It Up
Film müziğinin bestecisi: James Newton Howard
Öykü: Richard Matheson</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">

                <img src="~/fonts/afişler/yabancı filmler/indir (4).jpg" />
            </a>
            <h3>
                <a href="#">STAR WARS:YILDIZ SAVAŞLARI</a>
            </h3>
            <p>Yıldız Savaşları, George Lucas tarafından tasarlanmış, öncelikle filmleriyle tanınmış, sonraki yıllarda çizgiroman, bilgisayar ve konsol oyunları, televizyon yapımları vb. dallarda ününü geliştirmiş kurgusal evren ve markadır. Vikipedi
Karakterler: Darth Vader, Yoda, Boba Fett, Luke Skywalker, Diğer
Yönetmenler: J. J. Abrams, George Lucas, Rian Johnson, Diğer
Yapım şirketleri: 20th Century Fox, Walt Disney Pictures, Lucasfilm, Bad Robot Productions, Lucasfilm Animation</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">

                <img src="~/fonts/afişler/yabancı filmler/indir (5).jpg" />
            </a>
            <h3>
                <a href="#">YÜZÜKLERİN EFENDİSİ</a>
            </h3>
            <p>Yüzüklerin Efendisi İngiliz filolojist ve Oxford Üniversitesi profesörü J. R. R. Tolkien'in yazdığı epik fantezi türündeki romandır. Vikipedi
İlk Yayınlanma Tarihi: 29 Temmuz 1954
Yazar: J. R. R. Tolkien
Önceki kitap: Hobbit
Sonraki kitap: Yüzüklerin Efendisi: İki Kule
Karakterler: Gandalf, Gollum, Aragorn, Legolas, Frodo Baggins, Diğer
Türler: Kurgu, Fantezi, Romans, Macera romanı, Kahramanlık Fantezisi, Epik fantezi, Spekülatif kurgu</p>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>

                <li>@Html.ActionLink("2", "page2", "yabancı")</li>
                        

                <li>

                <li>@Html.ActionLink("3", "page3", "yabancı")</li>
                </li>
                <li>

                <li>@Html.ActionLink("4", "page4", "yabancı")</li>
                
                <li>

                <li>@Html.ActionLink("5", "page5", "yabancı")</li>
               
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
    <hr>



